<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <title>GlucoView » Trends</title>

        <link type="text/css" rel="stylesheet" href="../static/css/materialize.min.css"  media="screen,projection"/>
        <script src="../static/js/jquery.min.js"></script>
        <script src="../static/js/materialize.min.js"></script>
        <script src="../static/js/d3.v4.min.js"></script>
        <link type="text/css" rel="stylesheet" href="../static/css/main.css">
        <link type="text/css" rel="stylesheet" href="../static/css/material-icon.css" rel="stylesheet">

        <script>
$(document).ready(function(){
    $('.carousel').carousel();
    $('#settings_container').hide();
    $('#settings_container').removeClass('hide');
});

showSettings = function() {
    $("#main_container").animate({height: "0px", opacity: 0}, 400, "swing", function() { $("#main_container").hide() });
    $("#settings_container").fadeIn(600);
}
        </script>
    </head>
    <body>
        <div id="main_container" class="container">
            <svg width="960" height="370"> </svg>

            <div class="row trend-list">
                <div class="col s2">
                    <a class="btn-floating btn-large waves-effect waves-light left"
                       onclick="$('.carousel').carousel('prev')">
                        <i class="backwards-arrow material-icons">arrow_forward</i>
                    </a>
                </div>

                <div class="col s8 carousel carousel-slider center" data-indicators="true">
                    {% for problem, solution in problems %}
                    <div class="carousel-item white-text">
                        <h4 class="white-text">{{ problem }}</h4>
                        <h5 class="white-text">{{ solution }}</h5>
                    </div>
                    {% endfor %}

                    <div class="carousel-item white-text center">
                        <a onclick="showSettings()" href="#" class="waves-effect waves-light btn">View Suggested Changes</a>
                    </div>
                </div>

                <div class="col s2">
                    <a class="btn-floating btn-large waves-effect waves-light right"
                       onclick="$('.carousel').carousel('next')">
                        <i class="material-icons">arrow_forward</i>
                    </a>
                </div>
            </div>

            <br>

        </div>

        <div id="settings_container" class="container hide">
            {% for i in settings.basel %}
                <p class="white-text">{{ i.start }}   {{ i.rate }}          {{ new_settings.basel[loop.index0].start }}    {{new_settings.basel[loop.index0].rate }}</p>
            {% endfor %}
                <p class="white-text">'bye'</p>
            {% for i in settings.bolus_carbs %}
                <p class="white-text">{{ i.start  }}   {{ i.amount }}      {{ new_settings.bolus_carbs[loop.index0].start }}    {{new_settings.bolus_carbs[loop.index0].amount }}</p>
            {% endfor %}
                <p class="white-text">'bye'</p>
            {% for i in settings.bolus_correction %}
                <p class="white-text">{{ i.start }}   {{ i.amount }}       {{ new_settings.bolus_correction[loop.index0].start }}    {{new_settings.bolus_correction[loop.index0].amount }}</p>
            {% endfor %}
        </div>

        <script src="../static/js/plot.js"></script>

    </body>
</html>
