<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>APPNAME » Trends</title>

    <link type="text/css" rel="stylesheet" href="../static/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="../static/css/main.css">
  </head>
  <body>
    <div class="container">

      <br>
      <br>
      <br>
      <br>

      <div class="trend-list">
        <ul>
	  <li>
            <h4 class="white-text"> Your blood sugar is often high in the morning </h5>
	    <h5 class="white-text"> → Try increasing your nighttime basal insulin </h6>
            <br>
	  </li>
	  <li>
            <h4 class="white-text"> You often have high blood sugars after breakfast </h5>
            <h5 class="white-text"> → Try increasing your morning bolus insulin </h6>
            <br>
	  </li>
	  <li>
            <h4 class="white-text"> You often have low blood sugars after lunch </h5>
	    <h5 class="white-text"> → Try decreasing your lunchtime bolus insulin </h6>
            <br>
	  </li>
        </ul>
      </div>

      <br>

    </div>

    <div class="row center bottom">
      <a class="waves-effect waves-light btn">View Suggested Pump Settings</a>
    </div>

  </body>
</html>
